body {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  margin-left: 7em;
  margin-right: 7em;
}

p {
  font-size: 2em;
}

h1 {
  font-size: 5em;
}

body {
  background: linear-gradient(45deg, #ffb3ba, #ffdfba, #ffffba, #baffc9);
  animation: gradientAnimation 40s infinite;
  background-size: 10000% 10000%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
